body {
  padding-top: 5rem;
}
.starter-template {
  text-align: center;
}

form{
  margin: 50px 0;
}

#site{
  margin-bottom: 20px;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.table td, .table th{
  text-align: center !important;
  vertical-align: middle !important;
}
